<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html><head> 
    <meta http-equiv="GENERATOR" content="KODEKS HTTP">  
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Поиск должностного лица</title>
    <link rel="stylesheet" href="%D0%9F%D0%BE%D0%B8%D1%81%D0%BA%20%D0%B4%D0%BE%D0%BB%D0%B6%D0%BD%D0%BE%D1%81%D1%82%D0%BD%D0%BE%D0%B3%D0%BE%20%D0%BB%D0%B8%D1%86%D0%B0_files/iss.css" type="text/css">
    <link rel="stylesheet" href="%D0%9F%D0%BE%D0%B8%D1%81%D0%BA%20%D0%B4%D0%BE%D0%BB%D0%B6%D0%BD%D0%BE%D1%81%D1%82%D0%BD%D0%BE%D0%B3%D0%BE%20%D0%BB%D0%B8%D1%86%D0%B0_files/iss_002.css" type="text/css">
    <script type="text/javascript" language="JavaScript" src="%D0%9F%D0%BE%D0%B8%D1%81%D0%BA%20%D0%B4%D0%BE%D0%BB%D0%B6%D0%BD%D0%BE%D1%81%D1%82%D0%BD%D0%BE%D0%B3%D0%BE%20%D0%BB%D0%B8%D1%86%D0%B0_files/iss"></script>
  <script type="text/javascript" language="JavaScript" src="%D0%9F%D0%BE%D0%B8%D1%81%D0%BA%20%D0%B4%D0%BE%D0%BB%D0%B6%D0%BD%D0%BE%D1%81%D1%82%D0%BD%D0%BE%D0%B3%D0%BE%20%D0%BB%D0%B8%D1%86%D0%B0_files/iss_002"></script><script>
	window.print_url = '/iss?help_search_boss&print=1';
	function PrintUrl()
	{
		return window.print_url;
	}
	window.PrintUrl = PrintUrl;
	function setupStyle()
	{
		if (document.all == null)
			document.body.style.overflow = '';
	}

  </script></head>

  
  
  <body onload="setupStyle(); if (window.init != null) window.init(); showStart(0)" style="margin: 0px; font-family: Arial; font-size: 20pt; font-weight: bold;" background="%D0%9F%D0%BE%D0%B8%D1%81%D0%BA%20%D0%B4%D0%BE%D0%BB%D0%B6%D0%BD%D0%BE%D1%81%D1%82%D0%BD%D0%BE%D0%B3%D0%BE%20%D0%BB%D0%B8%D1%86%D0%B0_files/iss_003.gif">
  <table width="100%" height="100%" cellspacing="0" cellpadding="0">
  <tbody><tr>
  <td bgcolor="#FFCC00">
  <div style="height: 100%; width: 140px; overflow: hidden">
  <table cwllpadding="0" height="100%" cellspacing="0">
    <tbody><tr>
    <td rowspan="2" valign="top" align="center"><a href="http://10.2.8.11/iss?start" onmouseover="window.status='ПЕРВАЯ СТРАНИЦА';return true;" onmouseout="window.status='';return true;">
<img src="%D0%9F%D0%BE%D0%B8%D1%81%D0%BA%20%D0%B4%D0%BE%D0%BB%D0%B6%D0%BD%D0%BE%D1%81%D1%82%D0%BD%D0%BE%D0%B3%D0%BE%20%D0%BB%D0%B8%D1%86%D0%B0_files/iss.jpg" alt="Справочник" vspace="0" border="0" align="top">
</a>
<br>
    <a href="http://10.2.8.11/iss?drn" onmouseover="window.status='Посмотреть дни рождения на текущую дату';return true;" onmouseout="window.status='';return true;" title="Посмотреть дни рождения на текущую дату" class="date"><b><font size="-1">Сегодня</font><br><font id="slide0" style="" size="-1">вторник</font><font id="slide1" style="display: none;" size="-1">13&nbsp;июня&nbsp;2023&nbsp;г.</font><font id="slide2" style="display: none;" size="-1">родились...</font><font id="slide3" style="display:none;" size="-1"></font></b></a>
    <hr width="140" size="1" color="#000000" align="left">
    <a href="http://10.2.8.11/iss?start" onmouseover="window.status='В начало';return true;" onmouseout="window.status='';return true;">
    <img alt="В начало" src="%D0%9F%D0%BE%D0%B8%D1%81%D0%BA%20%D0%B4%D0%BE%D0%BB%D0%B6%D0%BD%D0%BE%D1%81%D1%82%D0%BD%D0%BE%D0%B3%D0%BE%20%D0%BB%D0%B8%D1%86%D0%B0_files/iss_005.gif" width="140" height="25" border="0"></a>
    <a href="http://10.2.8.11/iss?search" onmouseover="window.status='Поиск';return true;" onmouseout="window.status='';return true;">
    <img alt="Поиск" src="%D0%9F%D0%BE%D0%B8%D1%81%D0%BA%20%D0%B4%D0%BE%D0%BB%D0%B6%D0%BD%D0%BE%D1%81%D1%82%D0%BD%D0%BE%D0%B3%D0%BE%20%D0%BB%D0%B8%D1%86%D0%B0_files/iss_004.gif" width="140" height="25" border="0"></a>
    <a href="http://10.2.8.11/iss?help_view" id="HELP" target="HELP" onmouseover="window.status='Помощь';return true;" onmouseout="window.status='';return true;">
    <img alt="Помощь" src="%D0%9F%D0%BE%D0%B8%D1%81%D0%BA%20%D0%B4%D0%BE%D0%BB%D0%B6%D0%BD%D0%BE%D1%81%D1%82%D0%BD%D0%BE%D0%B3%D0%BE%20%D0%BB%D0%B8%D1%86%D0%B0_files/iss_002.gif" width="140" height="25" border="0"></a>
    
    </td>
    </tr>
  </tbody></table></div>
  </td>
  <td width="100%">
    <table width="100%" height="100%"> <tbody><tr><td style="border-style:solid;border-bottom-width:5px;border-left-width:0px;border-right-width:0px;border-top-width:5px;border-color:#FFCC00;background-image:url(iss?bg_title.gif);" align="center"><img src="%D0%9F%D0%BE%D0%B8%D1%81%D0%BA%20%D0%B4%D0%BE%D0%BB%D0%B6%D0%BD%D0%BE%D1%81%D1%82%D0%BD%D0%BE%D0%B3%D0%BE%20%D0%BB%D0%B8%D1%86%D0%B0_files/iss.gif" style="margin: 0 0 0 0;"></td></tr><tr height="100%"><td>
    <div style="height: 100%; overflow:auto; background-color: white; border: 1px solid #FFCC00">

<div style="margin: 10px">       <font size="2" face="Verdana">
       <li> <b><a name="Поиск" href="http://10.2.8.11/iss?help_view6" onclick="location.href=this.href;">Поиск</a> </b>
      <p align="justify">Поиск может осуществляться либо переходом в поиск организации либо в поиск должностного лица.</p>
      <br>
      </li></font><li><font size="2" face="Verdana"> <b><a name="поиск_должностного_лица" href="http://10.2.8.11/iss?help_view6" onclick="location.href=this.href;">Поиск должностного лица:</a> </b>

      <p align="justify">Поиск может быть осуществлен по следующим критериям, представленным в виде радио-кнопок:</p>
      </font><ul><font size="2" face="Verdana">
        <li>ФИО должностного лица
        </li><li>Средства связи
        </li><li>Адрес
</li><li>Комната
</li><li>Должность
        </li></font><li><font size="2" face="Verdana">Дата рождения
        </font></li></ul><font size="2" face="Verdana">
      <p align="justify">Выбрав критерий поиска, необходимо ввести текст в поисковую строку 
        и нажать клавишу &lt;Поиск&gt;. На экране высвечиваются результаты поиска:</p>

       <ul><i>
         <li>информация о количестве записей, отвечающих заданному условию поиска; 
         </li></i><li><i>список должностных лиц, отвечающих критерию поиска
         </i>
       </li></ul>
       <p align="justify">По ссылкам можно выйти на:</p>
       <ul><i>
         <li>Карточку должностного лица
         </li></i><li><i>Место его работы с указанием вышестоящей организации  
       </i></li></ul>

       <p align="justify">Если не нашлось записей, удовлетворяющих условиям 
        поиска, выдается сообщение:<b> "Ничего не найдено"</b>. </p>
       <p align="justify">Рекомендуем снова выбрать режим "Поиск" или по клавише "Изменить условия" сменить параметры поиска.</p>
       <p align="justify">Так как  режим Поиска контекстный, то необходимо учесть ряд правил при 
         заполнении поисковых показателей:</p>
       <ul><i>
         <li>Если подразумевается "поиск по вхождению", то в конце или в начале поисковой строки необходимо указать "*" и 
                в результат поиска попадут все записи, у которых есть такое вхождение знаков без учета регистра
         </li></i><li><i>Номера телефонов вводятся без использования дополнительных знаков
       </i></li></ul></font>

 </li></div></div></td></tr>
<script language="JavaScript">
function doNews()
{
		showNews('iss?news', 500, 300);
		return false;
}
function showNews(url, w, h)
{   
  url += '&r=' + Math.random();
  window.dialogResult = null;
     window.showModalDialog(url, window, 
		'dialogWidth:' + w + 'px;' +
		'dialogHeight:' + h + 'px;' +
		'status:no;resizeable:no;scroll:yes;help:no');
return window.dialogResult;
}
</script>
	</tbody></table></td></tr></tbody></table></body></html>